.number {
  position: absolute;
  bottom: 4px; 
  left: 2px;
  font-size: .7em;
  color: white;
}

.div
{
    display : flex;
    position: relative;
}

.clue{
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal_container {
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: #f6daf7;
  background-color: #ffc7c7;
  width: 50%;
  height: fit-content;
  top: 20%;
  left: 50%;
  margin-left: -25%; /* Negative half of width. */
  border-radius: 5px;
}

.close_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
}

.hint_button_container {
  display: inline-block; /* This container holds both the text and button */
}

.hint_button {
  background-color: #ffbd03;
  color: black; /* Text color #ffbd03 */
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; /* Display the button inline with text */
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.person_button {
  background-color: var(--green);
  color: white; /* Text color */
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; /* Display the button inline with text */
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}
.answer_button {
  background-color: var(--green);
  color: white; /* Text color */
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; /* Display the button inline with text */
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.clue_button {
  background-color: var(--blue);
  color: white; /* Text color */
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; /* Display the button inline with text */
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.hint_container {
  background-color: var(--white);
  border-radius: 5px;
  border: solid 3px #ffbd03;
  width: fit-content;
  padding: 2em;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
  box-shadow: #ffbd03 0px 10px 30px -12px inset,
  #ffbd03 0px 18px 36px -18px inset;
}

.hint_header {
  display: flex;
  padding: 1.5em;
  border-radius: 5px;
}

.hint-header-info {
  margin: 0 auto;
  padding: 0.5em;
}

#display_name {
  align-self: flex-start;
  font-size: 2em;
  font-weight: bold;
}

#link_btn {
  width: 50%;
  border-radius: 5px;
  justify-content: right;
}

.hint_info {
  text-align: left;
  margin-top: 3em;
}

.incorrect {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: white;
  float: left;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0 8px;
  text-align: center;
  width: 32px;
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.incorrect:hover {
  background: var(--blue);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.correct {
  background: var(--green);
  border: 1px solid var(--green);
  color: white;
  float: left;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0 8px;
  text-align: center;
  width: 32px;
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.correct:hover {
  background: var(--green);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.star {
  background-color: white;
  border: none;
  color: white;
  float: left;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0 8px;
  text-align: center;
  width: 32px;
  text-transform: capitalize;
}
.ampersand {
  background-color: white;
  height: 0;
  width: 0;
  border: none;
  color: white;
  float: left;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0 8px;
  text-align: center;
  text-transform: capitalize;
}

.clueHover {
  background-color: #ffbd03;
  border: #ffbd03 3px;
}
